.App {
    min-height: 100vh;
    }

   .search-form{
   min-height: 10vh;
   }
   
   .search-bar{
   width: 20%;
   border:none;
   padding: 10px;
   border-radius: 5px;
   box-shadow: 2px 1px #0a0749;
   }
   .search-button{
   background: #0a0749;
   border-radius: 8px;
   padding: 10px 20px;
   color: #fffd71;
   font-size: larger;
   margin: 5px 10px;
   font-weight: bold;
   }

   .search-button:hover {
   background-color:#fffd71 ;
   color: #0a0749;
   font-weight: bold;
   }
   
   /* .recipes{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   } */

   @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
   
   .recipes{
   border-radius: 10px;
   box-shadow: 0px 5px 20px rgb(63, 60, 60);
   margin: 20px;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: space-around;
   background-image: linear-gradient(to right,
       #e4afcb 0%, #b8cbb8 0%, #b8cbb8 0%,
       #e2c58b 30%, #c2ce9c 64%, #7edbdc 100%);
   align-items: center;
   min-width: 40%;
   font-family: 'Lobster', cursive;
}

.image{
   border-radius: 10px;
   margin:0px 0px 20px 0px;
}

   